@font-face{
    font-family:'digital-clock-font';
    src: url(./fonts/Technology.ttf);
   }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #abd2e5;
  color: #efefed;
}
.outside-watch {
  background-color: lightgrey;
}
.watch-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  width: 300px;
  height: 320px;
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
}
.watch-face {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 270px;
  padding: 10px;
  background-color: #1e1920;
  border-radius: 2px 2px 50px 50px;
}

.watch-header,
.screen-header,
.watch-screen-container {
  display: flex;
}

.watch-header {
  align-self: flex-start;
  color: #efefed;
}

.screen-header {
  align-self: flex-end;
  margin-right: 20px;
  color: #b58e59;
  font-style: italic;
}
.watch-screen-container {
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.watch-screen {
  display: inline-grid;
  grid-template-areas: 
  "a b c" 
  "d d c " 
  "e e e";

  background-color:#a0a59f;
  border-color:#a09777;
  border-style: solid;
  border-left-width: 6px;
  border-bottom-width: 4px;
  padding: 3px;

  font-family: digital-clock-font;
}

.watch-screen > .watch-time {
    grid-area: e;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    
}

.watch-screen > .watch-battery {
    grid-area: a;
    display: flex;
    margin-right: 5px;
   justify-content: flex-end;
}

.watch-screen > .watch-alarm-bell {
    grid-area: b;
}

.watch-screen > .watch-weekday {
    grid-area: c;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 30px;
    align-items: flex-end;
}

.watch-screen > .watch-day-night {
    grid-area: d;
}
.watch-logo {
  font-weight: 700;
  margin-left: 14px;
}
.button-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}
